#root {
  min-width: 120px;
  margin: 0 auto;
  padding:0;
  text-align: center;
  font-family:system-Ui, sans-serif;
}
.contenedor-principal{
  height: 100%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;

}
.contenedor-formulario{
  background-image: url(./imagenes/imagen05.jpeg);
  background-repeat:no-repeat ;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.formulario{
  display:flex;
  background-color: rgba(131, 130, 131, 0.185);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
  gap:20px;
  height: 200px;
  width: 250px;
  padding:20px;
  border-radius:20px;
  transition: 0.2s ease-in;
  cursor:pointer;
  border: 1px solid rgba(128, 128, 128, 0.199)
}
.formulario:hover{
  box-shadow:5px 5px 10px rgba(94, 57, 85, 0.418)
}
.formulario input{ 
  outline:none;
  border:none;
  width: 90%;
  height: 30px;
  border-radius:5px;
  padding-left:10px;
  background:rgb(223, 222, 222);
  color:rgb(43, 43, 43);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}
.formulario input::placeholder{
  color:rgba(59, 59, 59, 0.377);
}
/* ESTILOS DEL CONTENIDOlOGIN */
.contenedor-imagenes01 img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius:20px;
}
figure p {
  width: 200px;
}
.video-contenedor{
  height: 300px;
  width: 200px;
}
.video01 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:20px;
}
.video-texto{
  width: 200px;
  margin:0;
}

.contador{
  width:200px;
  height: 200px;
  display:block;
  padding-bottom:100px;
}
.corazoncito{
  color:red;
  opacity: 1;
  transition:0.5s;
  animation: forwards 0.5s ease-out corazon;
  position:relative;
  top: -50px;
  left:30px;
}
.no-corazoncito{
  color:red;

  position:relative;
  top: -50px;
  left:30px;
  animation: forwards 1s ease-out corazon2;
}
@keyframes corazon {
  to{
  opacity:0;
  transform:scale(3);
  transform:translateY(-100px);
}
}
@keyframes corazon2 {
  to{
  opacity:0;
  transform:scale(3);
  transform:translateY(-200px);
}
}